.idea
local_config.yaml
__pycache__/
/local_cache
robots.yaml
/borrar

/build/**
!/build/.gitkeep

/generic_persistent_data/**
!/generic_persistent_data/.gitkeep

/component_persistent_data/**
!/component_persistent_data/.gitkeep

/src/**
!/src/.gitkeep

/config/*
!/config/env/
!/config/env/**
